@font-face {
  font-display: swap; 
  font-family: 'TTCommons';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/TTCommons-Regular.eot'); 
  src: url('/fonts/TTCommons-Regular.woff2') format('woff2'), 
       url('/fonts/TTCommons-Regular.woff') format('woff'), 
       url('/fonts/TTCommons-Regular.ttf') format('truetype'); 
}