@mixin wrapper {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  margin: 0 auto;

  @media screen and (min-width: 350px) {
     max-width: 320px;
  }  
  @media screen and (min-width: 576px) {
    max-width: 540px;
  }

  @media screen and (min-width: 768px) {
    max-width: 720px;
  }

  @media screen and (min-width: 992px) {
    max-width: 960px;
  }

  @media screen and (min-width: 1200px) {
    max-width: 1140px;
  }

  @media screen and (min-width: 1440px) {
    max-width: 1300px;
  }
}