@use '../utils/variables' as *;

.data {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  
  &__photo {
    width: 320px;
  }
  
  &__info {
    position: absolute;
    top: 300px;
    padding: 24px 16px 40px 16px;
    border-radius: 20px 20px 0px 0px;
    min-width: 320px;
    background-color: $accentColor;

    &::before {
      content: url(/img/arrow.svg);
      display: block;
      position: absolute;
      top: -18.5px;
    }
  }

  &__contact {
    margin-top: 32px;
    list-style: none;
  }

  &__contact-item {
    margin-bottom: 18px;
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  &__link {
    color: $textColor;
    margin-left: 16px;
  }
}

@media screen and (min-width: 768px) {
  .data {
    align-items: flex-start;
  }  
}