@use '../utils/variables' as *;

.skills {
  position: relative;
  padding: 30px 15px 30px 15px;
  border: 1px solid white;

  &::before {
    content: url(/img/arrow-2.svg);
    display: block;
    position: absolute;
    top: -1px;
    left: 130px;
  }

  &__education {
    border-bottom: 1px solid rgba(255, 255, 255, 0.4);
  }

  &__list {
    display: flex;
    max-width: 280px;
    justify-content: space-between;
    list-style: none;
    padding-bottom: 24px;
    width: 100%;
  }

  &__title {
    margin-top: 24px;
    margin-bottom: 16px;
  }

  &__description {
    opacity: 40%;
  }

  &__skill {
    border-bottom: 1px solid rgba(255, 255, 255, 0.4);
  }

}

@media screen and (min-width: 650px) {
  .skills {
    padding-bottom: 23px;
    &::before {
      left: 30px;
    }

    &__education {
      display: flex;
      align-items: baseline;

      & > .skills__list {
        margin-left: 42px;
      }
    }

    &__skill {
      display: flex;
      align-items: baseline;

      & > .skills__list {
        margin-left: 83px;
      }
    }
  }
}


@media screen and (min-width: 992px) {
  .skills {
    padding-bottom: 144px;

    &__education > .skills__list {
        margin-left: 72px;
    }

    &__skill > .skills__list {
        margin-left: 109px;
    }
  }
}
